/out/production/Sorting/com/algorithms/sorting/MergeSort.class
/out/production/Sorting/test/MergeSortUnitTest.class
/out/production/Sorting/com/algorithms/sorting/QuickSort.class
/out/production/Sorting/test/QuickSortUnitTest.class
/out/production/Sorting/META-INF/Sorting.kotlin_module
